<!DOCTYPE html>
<html>
  <head>
    <title>Weatherwise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if notice.present? %>
    <div class"notification is_link is_light"> <%= notice %> </div>
  <% end%>

  <% if notice.present? %>
    <div class"notification is_danger is_light"> <%= alert %> </div>
  <% end%>

  <div class"container">
    <%= yield %>
  </div>
  </body>
</html>
